@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  background-color: #fafafa;
  color: #202020;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: #e87b07;
}

a:hover {
  color: #ff4500;
}

main {
  width: min(100%, 90ch);
  padding-inline: 0.75rem;
}

.header {
  background-color: #e6501a;
  color: #fafafa;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  margin-block: 0 0.75rem;
  width: min(100%, 90ch);
}

.ilustration {
  width: min(80%, 50rem);
  margin-inline: auto;
}
